<!DOCTYPE html>
<html lang="en">
{% block header %}
{% endblock %}

<title>{% block title %}{% endblock %} - Admir</title>

{% block stylesheets %}
{% endblock %}

  <body>
{% block nav %}
{% endblock %}


    {% block content %}
    {% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}


    {% block scripts %}
    {% endblock %}

  </body>
</html>
