{% extends "base.html" %}

{% block title %}Create a task{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
  <div class="col-md-12">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          <strong>Success: {{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" name="" value="Add a new task" />
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
