{% extends "base.html" %}

{% block title %}Delete task{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
  <div class="col-md-12">
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete task: </p>
        <p>name: {{ object.name }}, </p>
        <p>description: {{ object.description }}?</p>
        <input class="btn btn-danger" type="submit" value="Submit" />
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
