{% extends "base.html" %}

{% block title %}Welcome to task schedule{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
          <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
   <div class="col-md-8">
     <h2>All tasks</h2>
   </div>
   <div class="col-md-2">
     <form action="." method="POST">
       <select class="form-control" name="task" id="task1">
         <option value="0">All tasks</option>
         <option value='1'{% if selected_option == '1' %} selected{% endif %}>Done</option>
         <option value='2'{% if selected_option == '2' %} selected{% endif %}>Undone</option>
       </select>
       {% csrf_token %}
       <br>
       <input type="submit" class="btn btn-primary btn-block" value="Select"/>
     </form>
   </div>
   <div class="col-md-2">
     <a href="{% url 'create_task' %}" class="btn btn-lg btn-block btn-primary btn-h1-spacing">Create new task</a>
   </div>
  </div>

  <hr>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Task name:</th>
          <th>Description:</th>
          <th>Done:</th>
          <th>Creator:</th>
          <th>Done by:</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
          <tr>
            <th>{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.description|slice:":60" }} {% if task.description|length > 60 %}...{% endif %}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            <td>{{ task.editor }}</td>
            <td><strong class="pull-right"> <a href="{% url 'markdone_task' task.id %}" class="btn btn-sm btn-default">Mark as done</a> <a href="{% url 'update_task' task.id %}" class="btn btn-sm btn-primary">Edit</a> <a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-danger">Delete</a> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
