{% extends "base.html" %}

{% block title %}Update task{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
  <div class="col-md-12">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          <strong>Success: {{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    <form class=""  method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="hidden" name="editor" value="{{ request.user.id }}">
      <input class="btn btn-primary" type="submit" name="" value="Update" />
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
