{% extends "base.html" %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
  {% if form.errors %}
  <p>Wrong username or password!</p>
    {{ form.errors }}
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% load widget_tweaks %}
      {{ form.username.label_tag }}
      {{ form.username|add_class:"form-control" }}
      {{ form.password.label_tag }}
      {{ form.password|add_class:"form-control" }}
        <br>
    <input class="btn btn-primary" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </form>
</div>

{% endblock %}
