{% extends "base.html" %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
  <!-- <form method="post" action="{% url 'login' %}"> -->
  <form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="btn btn-primary" type="submit" value="Reset password" />
  </form>
</div>

{% endblock %}
