{% extends "base.html" %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
  <form method="post" action="">
    {% csrf_token %}
    {% load widget_tweaks %}
    {{ form.email.label_tag }}
    {{ form.email|add_class:"form-control" }}
    <br>
    <input class="btn btn-primary" type="submit" value="Reset password" />
  </form>
</div>

{% endblock %}
